language: generic

branches:
  only:
  - master
  - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

cache:
  - ccache
  - apt
  - yarn
  - directories:
    - $HOME/Library/Caches/Homebrew

env:
  global:
  - secure: "Q8bRDeSU/7TmlmStqpVQF6aK8z5YHDfpBe0qOei6FMgaObcJWFfJuV12zpk+CPnEAZfhuOIbAeAuqxcXu3+JLIHF3AXEnFbVgLuBpykaB2XX6wfg3wXOXw6Wy/pZt8xnP4LACtG6YCbyikLrcDhScFi+yX9IE6TxrhgYkOKsq6PO2/SAZqEbst0dKEXA1H0smROQpY7IWz8kHwJZc0FTaurjiAuPXGL0fcd7QCIIB98B6kl8ndmXhYnIpCPwQ0SzooWWsUkEE9x3AKIiJvZOyQQl7a+R9ZbvGeMJninyNKp/ThmoRJtESqJ0rv7nTsqxohSirmEw6dnHb7WKG9Ogix+a77FgPZPNlOQaOLmdXZ8pj3oMeajA2ar3LIZkzBMTLCK5eKhU7As+9EjCm3zTTLhZkv6uFu6DiHJeWopsqKb+GqA1TtRdIUksJ9RAEFjIE99D3OFhz9GVYt5pGfaMszZor48UdHNxt+OYAShRS3cIZdg7gSJM8Cya0Pme5kxQYSMQtjuxnsG/pPoZ3T7jOtZqun/LQX97X0ov64xgynYzxHm1PAMGhQLGuK6hYYFKvH8ICvEejnjaPeXbHSnL++5swUG8rdb+X/Jox08VPGlsaL0eBCLAUmzCtxNfNxRsN2vp1SyQVbkqDFfN7NkJIxNnm2PJjwrlHfV96rmo4eM="
  - secure: "gWw2F0sqnko2pjCh3sqPMyg2ZzyHwBu7miifAPcJjowILgplhwW0UDtJ73R/uzgUsG0ALDjAtIUFzJyfu/WiLySeCujhiBrZ8pyRmgmwJ4Rp/ZMgZQx0B5tJ3l0jJDHcORN7tAg/PnDtAS57sMQPIHB19XPlqSDg5Nz0qzbj+eNFS+tZrMM4PV8nENITDrFVN137VhJzUtE86NTFmIsbCx9X5WMurQ0WrIVaDNEKGMR2wpV9t4fnEed/o6bGMBYMcGO7rK/AusDlX3PNd7OvcixeZaQsOloWs0IKYw1x9q98e5a7QGGOVPdzcNZ+WukBPfUYMek99gMfaotEN1eFcTfDva3BZKqn7DDcH6ZBCTTdTNZzPRNW7yiHfLuYNgvevOm3pbUUHWUwH8hl7IXdEZwmKswsrGSfInJyVLwENK1xue9ntnbfRiFU6jYCTTn2p/IVOQPzawQPiztd1Hb9SImCV7nINf4MdoK7j4upIIs+wjWpUtHuShchptLHsq7+xpWd8UHKbbm96x08HCap1aLOg9PSvrMS+QxK3MFhUolWF8h0REYPhS79BPC0pFJ4rbVvgRpARzt0jNrdfkdThyChqe8KcGVwGlna2YD6srkJ9Ov26KEx6RhQvOwZ4qxt6LXEdf4z5GcK/cUV+vhDz8v2lyFwlHBAcbQsJj/5HWU="
  - MASON_RELEASE=0.10.0
  - CMAKE_VERSION=3.7.1
  - CLANG_FORMAT_VERSION=3.8.1
  matrix:
  - BUILD_TYPE=Release NODE_VERSION=4
  - BUILD_TYPE=Release NODE_VERSION=6
  - BUILD_TYPE=Debug NODE_VERSION=4
  - BUILD_TYPE=Debug NODE_VERSION=6
  - BUILD_TYPE=Debug NODE_VERSION=4 SANITIZE=On
  - BUILD_TYPE=Debug NODE_VERSION=4 CHECK_FORMAT=Yes COVERAGE=On

dist: trusty
sudo: required
osx_image: xcode8.2

os:
  - linux
  - osx

node_js:
  - 4

matrix:
  fast_finish: true
  exclude:
    - os: osx
      env: BUILD_TYPE=Debug NODE_VERSION=4 CHECK_FORMAT=Yes COVERAGE=On

addons:
  apt:
    sources: ['ubuntu-toolchain-r-test']
    packages: ['g++-6']

before_install:
- if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then brew update && brew install ccache
  ccache && PATH=$PATH:/usr/local/opt/ccache/libexec; fi
- |
  if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
    export CC=gcc-6;
    export CXX=g++-6;
  fi
- |
  nvm install ${NODE_VERSION}
  nvm use ${NODE_VERSION}
  ./scripts/configure-bindings.sh
- |
  mkdir ./mason
  curl -sSfL https://github.com/mapbox/mason/archive/v${MASON_RELEASE}.tar.gz | tar --gunzip --extract --strip-components=1 --exclude="*md" --exclude="test*" --directory=./mason || travis_terminate 1
- |
  ./mason/mason install cmake ${CMAKE_VERSION}
  ./mason/mason link cmake ${CMAKE_VERSION}
  export PATH=./mason_packages/.link/bin/:${PATH}
- |
  if [ -n "${CHECK_FORMAT}" ]; then
    ./mason/mason install clang-format ${CLANG_FORMAT_VERSION};
    ./mason/mason link clang-format ${CLANG_FORMAT_VERSION}
    ./scripts/format.sh || travis_terminate 1;
  fi
- export PROJECT_DIRECTORY=$(pwd)
- export BUILD_DIRECTORY=${PROJECT_DIRECTORY}/build/${BUILD_TYPE}
- mkdir -p ${BUILD_DIRECTORY}

install:
- pushd ${BUILD_DIRECTORY}
- cmake ${PROJECT_DIRECTORY} -DCMAKE_BUILD_TYPE=${BUILD_TYPE:-Debug} -DSANITIZE=${SANITIZE:-OFF}
  -DCOVERAGE=${COVERAGE:-OFF} -DNODEBINDINGS=On
- make -j 2
- popd

script:
- |
  pushd ${BUILD_DIRECTORY}
  ctest --verbose || travis_terminate 1;
  popd
- |
  pushd ${PROJECT_DIRECTORY}/node/nepomuk;
  npm install;
  if [ -z "${SANITIZE}" ]; then
    npm test || travis_terminate 1;
  fi
  popd;

after_success:
- |
  if [ -n "${COVERAGE}" ]; then
    bash <(curl -s https://codecov.io/bash)
  fi
- |
  if [ -z "${SANITIZE}" ]; then
    if [ -z "${COVERAGE}"]; then
      pushd ${PROJECT_DIRECTORY}/node/nepomuk/;
      if [[ "${BUILD_TYPE}" == "Debug" ]]; then
          ${PROJECT_DIRECTORY}/scripts/publish-node-binaries.sh --debug || travis_terminate 1;
      else
          ${PROJECT_DIRECTORY}/scripts/publish-node-binaries.sh || travis_terminate 1;
      fi
      popd;
    fi
  fi
